body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.main_body {
    background-color: #00a8e8;
    text-align: center;
}

h4{
    background-color: aquamarine;
    color: navy;
    font-size: 20px;
}

h3 {
    color: skyblue;
    background-color: darkblue;
    text-align: center;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.CCA TABLE{
    background-color: #F0C808;
    color: navy;
    border: solid #003459;
    font-size: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

